.banner{
    
    section{
        color: #fefefe;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 8rem;
        >*{
            padding: 0 4rem;
        }
        h1,h2{
            width: 60%;
            max-width: 800px;
            @include padding-tb(5rem,0);
            font-size: 2.5rem;
        }
        p{
            width: 60%; 
            max-width: 800px;
            @include padding-tb(2rem,3rem);
            font-size: 1.3rem;
        }
        .btnBanner{
            cursor: pointer;
            margin: 0 4rem;
            padding: .5em 1em;
            color: #02568c;
            background-color: #fff;
            font-size: 1.5rem;
            font-weight: bold;
            transition: .2s ease-in-out;
            text-decoration: none;
            &:hover{
                background-color: lighten(#02568c, 10);
                color: #fff;
            }
            &:active{
                background-color: darken(#02568c, 10);
                /*É possível pressionar o botão e afastar o mouse, assim tirando a cor do
                hover*/
                color: #fff;
            }
        }
    }
    &__especialista{
        background-image: url(../assets/bg-banner-1.png);
    }
    &__ecommerce{
        background-image: url(../assets/bg-banner-2.png);
    }
    &__contato{
        background-image: url(../assets/bg-banner-3.png);
    
    }
    .swiper{
        z-index: 1;
        // &-slide{
            
        // }
        &-pagination{
            margin-bottom: 4rem;
            &-bullet{
                padding: 7px;
                &-active{
                    background-color: $lightblue;
                }
            }
        }

    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .banner{
        section{
            h1, h2,p{
                width: 85%;
                padding-left: 1rem;
            }
            h1,h2{
                padding-top: 3rem;
            }
            .btnBanner{
                margin: 0 1rem;
            }
        }
        .swiper{
            &-pagination{
                margin-bottom: 1rem;
            }
        }
    }
}

