.blogContainer{
    display: flex;
    justify-content: space-around;
    max-width: 1380px;
    margin: 0 auto;
    padding-bottom: 2rem;
    h2{
        font-size: 1.8rem;
        margin: 1.5rem 0;
        a{
            color: $darkblue;
            text-decoration: none;
            &:hover{
                color: lighten($darkblue, 20);
            }
        }
    }
    h3{
        margin-top: 1rem;
        color: $lightblue;
    }
    p{
        color: #858585;
        width: 90%;
    }
    &__downloads{
        margin-left: 4rem;
        p{
            margin-top: 1rem;
            a{
                text-decoration: none;
                color: inherit;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    &__noticias{
        margin-right: 4rem;
        &__wrapper{
            display: flex;
            justify-content: space-around;
            a{
                display: inline-block;
                text-decoration: none;
                color: $lightblue;
                font-weight: bold;
                &:hover{
                    text-decoration: underline;
                }
            }
            &__destacada{
                p{
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    a{
                        color: inherit;
                        font-weight: normal;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            &__outras{
                div{
                    margin-bottom: 1rem;
                    p{
                        margin-bottom: 1rem;
                        a{
                            color: inherit;
                            font-weight: normal;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .blogContainer{
        flex-direction: column;
        img{
            margin: 0 auto;
        }
        h2,h3{
            text-align: center;
        }
        p{
            margin: 1rem 0;
            width: 100%;
        }
        &__downloads{
            margin: 0 17px;
        }
        &__noticias{
            margin: 0 17px; 
            &__wrapper{
                flex-direction: column;
                a:not(.destaque-blog){
                    
                    display: block;
                }
                .destaque-blog{
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}