.blogIntegra{
    &__container{
        .roundedPost{
            max-width: 960px;
            margin: 0 auto;
            >img{
                min-width: 100%;
                max-height: 350px;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            &__texto{
                background-color: #fff;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding-bottom: 1rem;
                h2{
                    font-size: .875rem;
                    position: static;
                    padding-bottom: 0;
                    color: #18303d;
                    text-align: left;
                    margin: 0 1.5rem;
                    @include bottom-after(0,0);
                }
                h3{
                    margin: 0 1.5rem;
                    display: inline;
                    font-size: .75rem;
                }
                p{
                    font-size: .75rem;
                    line-height: 1.4rem;
                    margin: 1rem 1.5rem;
                    color: #18303d;
                    &:first-of-type{
                        margin-top: 0;
                        padding-top: 1rem;
                    }
                }
                ul{
                    font-size: .75rem;
                    color: #18303d;
                    margin-top: 0;
                    margin-left: 1.5rem;
                    li{
                        margin: .7rem 0;
                    }
                }
                &__share{
                    display: flex;
                    align-items: center;
                    color: #000;
                    margin-left: 1.5rem;
                    font-size: 1.1rem;
                    font-weight: bold;
                    div{
                        display: flex;
                        img{
                            width: 39px;
                            transition: .4s ease-in-out;
                            &:hover{
                                transform: translateY(-4px);
                            }
                        }
                    }
                }
            }
        }
    }
    &__outrosPosts{
        padding: 1rem 1.5rem;
        padding-bottom: 2.3rem;
        .subtitulo,h2{
            text-align: center;
        }  
        .subtitulo{
            @include subtitulo();
        }
        h2{
            position: relative;
            padding-bottom: 1rem;
            text-transform: uppercase;
            color: #09588d;
            @include bottom-after(48%, 50px);
        }
        &__wrapper{
            display: flex;
            max-width: 1200px;
            margin: 1rem auto;
            justify-content: space-between;
            align-items: center;
            .cardPost{
                max-width: 380px;
                box-shadow: 12px 15px 15px rgba($color: #2c2c2c, $alpha: 0.2);
                em{
                    font-size: .6rem;
                }
                h3{
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .blogIntegra{
        &__outrosPosts{
            &__wrapper{
                flex-direction: column;
                .cardPost{
                    margin-top: 1rem;
                    min-width: 90%;
                    max-width: 90%;
                    img{
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        min-width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}