.blog{
    background-color: $lighterblue;
    padding: 1.5rem 1rem;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    @include doubleBG(-10rem, 0, -15rem, 0);
    .subtitulo{
        text-align: center;
        margin-top: 1.5rem;
        @include subtitulo();
    }
    h2{
        text-align: center;
        color: #09588d;
        position: relative;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        @include bottom-after(48%, 50px);
    }
    &__wrapper{
        max-width: 1200px;
        margin: 1.2rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items:center;
        gap: 1rem;
    }
}
