//RGBA bg
@mixin dark-bg(){
    .cabecalho__wrapper{
        background-color: rgba(00, 00, 00, 0.5);
    }
}
.cabecalho{
    background-position-y: center;
    text-transform: uppercase;
    background-size: cover;
    &__wrapper{
        padding: 5px 4rem 5rem 4rem;
        &__breadcrumb{
            max-width: 1300px;
            margin: 2rem auto 0 auto;
            font-size: .8rem;
            ul{
                display: flex;
                li{
                    color: #fff;
                    margin: 0 1rem;
                    text-align: center;
                }
                li:not(:first-of-type){
                    list-style-type: disc;
                    a{
                        color: #fff;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        &__title{
            margin-top: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                text-align: center;
                position: relative;
                font-size: 2.5rem;
                font-weight: bold;
                color: #fff;
                padding: 10px;
                padding-bottom: 1rem;
                @include bottom-after(40%, 50px);
            }
        }
    }
    &--qmSomos{
        background-image: url(../assets/qmsomos-cabecalho.png);
        background-position: center;
        background-size: 150%;
        @include dark-bg();
    }
    &--servicos{
        background-image: url(../assets/servicos-cabecalho.png);
        background-color: transparent;
        background-position: center;
    }
    &--servicoIntegra{
        .cabecalho__wrapper{
            &__title{
                margin-top: 1.8rem;
                h1{
                    font-size: 2rem;
                }
            }
        }
    }
    &--suporte{
        background-image: url(../assets/suporte-e-manutencao-title.jpg);
        @include dark-bg();
    }
    &--site{
        background-image: url(../assets/criacao-de-sites-title.png);
        @include dark-bg();
    }
    &--nuvem{
        background-image: url(../assets/sistemas-em-nuvem-title.jpeg);
        @include dark-bg();
    }
    &--ecommerce{
        background-image: url(../assets/ecommerce-title.jpg);
        @include dark-bg();
    }
    &--seo{
        background-image: url(../assets/seo-title.png);
        @include dark-bg();
    }
    &--intranet{
        background-image: url(../assets/intranet-title.jpg);
        @include dark-bg();
    }
    &--googleads{
        background-image: url(../assets/googleadwords-title.jpg);
        @include dark-bg();
    }
    &--apps{
        background-image: url(../assets/criacao-apps-title.jpg);
        @include dark-bg();
    }
    &--mktconteudo{
        background-image: url(../assets/marketing-conteudo-title.jpg);
        @include dark-bg();
    }
    &--contato{
        background-image: url(../assets/contato-title.png);
        @include dark-bg();
    }
    &--blog{
        background-image: url(../assets/blog-title.png);
        h1{
            @include bottom-after(38%, 50px);
        }
    }
    &--blogPost{
        background-image: url(../assets/blog-title.png);
        h1{
            font-size: 2.25rem;
            @include bottom-after(44%, 50px);
            span{
                display: block;
            }
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .cabecalho{
        &__wrapper{
            padding: 5px .7rem 5rem .7rem;
        }
    }
}