.certificacoes{
    h2{
        margin: 3rem 0;
        color: $darkblue;
        text-align: center;
        font-size: 1.8rem;
    }
    &__container{
        max-width: 1300px;
        margin: 0 auto;
        position: relative;
        padding: 0 1rem;
        .swiper{
            max-width: 1200px;
            
            &-button{
                &-prev{
                    color: #c0c0c0;
                }
                &-next{
                    color: #c0c0c0;
                }
            }
            &-wrapper{
                align-items: center;
                margin-left: auto;
                img{
                    margin: 0 auto;
                    transition: .4s ease-in-out;
                    &:hover{
                        transform: translateY(-12px) translateX(5px);
                    }
                }
            }
           
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .certificacoes{
        margin: 3.5rem 0 0.5rem;
        h2{
            margin: 2rem 0;
        }
        .swiper{
            color: currentColor;           
        }
    }
}