.contato{
    background-color: #024277;
    background-image: url(../assets/bg-faleconosco.png);
    background-size: contain;
    &__form{
        margin-left: 4rem;
        background-repeat: no-repeat;
        display: flex;
        gap: 2rem;
        padding: 2.5rem 0;
        position: relative;
        .faleConosco{
            color: #fff;
            padding-left: 4rem;
            flex-basis: 27%;
            p{
                font-size: 1.125rem;
                line-height: 1.7rem;
                span{
                    &::after{
                        content: ' ao lado';
                    }
                }
            }
            h2{
                font-size: 2.5rem;
                max-width: 100px;
                position: relative;
                z-index: 1;
                padding-bottom: .8rem;
                margin: 1rem 0;
                @include bottom-after(0, 50px, currentColor);
                &::before{
                    content: '';
                    position: absolute;
                    width: 150px;
                    aspect-ratio: 1;
                    background-image: linear-gradient(to right, #12418f, #0f8dcb);
                    z-index: -1;
                    left: -3.9rem;
                    border-radius: 10px;
                    top: -1.5rem;
                }
            }
        }
        form{
            padding: 60px;
            background-color: #fff;
            border-top-left-radius: 18px;
            border-bottom-left-radius: 10px;
            width: 100%;
            .form-row{
                display: flex;
                max-width: 1150px;
                margin-bottom: .7rem;
                &:last-of-type{
                    margin-bottom: 0;
                }
                div{
                    margin-left: 20px;
                    width: 100%;
                    label{
                        display: block;
                        margin-bottom: .5rem;
                        color: #18303d;
                        font-weight: 450;
                        font-size: .9rem;
                    }
                    input, textarea{
                        outline: 1px solid #e1e1e1;
                        width: 100%;
                        padding: 10px 15px;
                        border-radius: 6px;
                        font-size: 1rem;
                        margin-bottom: .7rem;
                        font-family: inherit;
                        resize: none;
                        &::placeholder{
                            font-size: .9rem;
                            display: inline-block;
                            color: #c1c1c1;
                            font-weight: 450;
                        }
                        &:focus{
                            border: 0;
                            outline: 1px solid #26adcd;
                            box-shadow: 0 0 12px rgba(#26adcd, 0.5);
                        }
                    }
                }
            }
            .formBtn{
                background-color: $marineblue;
                font-weight: bold;
                color: #fff;
                border: 0;
                padding: 1.5em 2.5em;
                font-size: .85rem;
                margin-top: 1.3rem;
                margin-left: 1.3rem;
                text-transform: uppercase;
                border-radius: 35px;
                transition: .4s ease-in-out;
                cursor: pointer;
                &:hover{
                    background-color: lighten($marineblue, 20);
                    transform: scale(1.2);
                }
                &:active{
                    background-color: darken($marineblue, 10);
                }
            }
        }
    }
    &__enviado{
        padding: 2.3rem 4rem;
        color: #fff;
        background-color: #024277;
        background-image: url(../assets/bg-faleconosco.png);
        background-size: cover;
        text-align: center;
        p{
            width: 100%;
        }
        &__ola{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        &__corpo{
            margin: 1.5rem auto;
            margin-top: 0;
            font-size: 1.5rem;
            line-height: 2rem;
            max-width: 1000px;
            letter-spacing: .125rem;
            span{
                display: block;
            }
            strong{
                text-decoration: underline;
            }
        }
        .btnPadrao{
            color: #024277;
            background-image: none;
            background-color: #fff;
            transition: .4s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    &__vantagens{
        @include padding-tb(1.5rem, 1.5rem);
        background-color: #fff;
        .subtitulo,h2{
            text-align: center;
        }
        .subtitulo{
            margin-top: 2rem;
            @include subtitulo();
            margin-bottom: 1rem;
        }
        h2{
            text-transform: uppercase;
            color: #09588d;
            position: relative;
            padding-bottom: 1rem;
            @include bottom-after(45%, 50px);
            margin-bottom: 1rem;
        }
        &__dados{
            margin-top: 2rem;
            display: flex;
            max-width: 1100px;
            margin: 2rem auto;
            .info{
                display: flex;
                &__circle{
                    width: 90px;
                    outline-width: 1rem;
                    &:hover{
                        outline-width: 1.1rem;
                    }
                    img{
                        width: 40px;
                    }
                }
                &__desc{
                    font-size: 1.25rem;
                    align-self: center;
                    margin-left: 2rem;
                    span{
                        font-weight: bold;
                    }
                    a{
                        color: inherit;
                        text-decoration: none;
                        transition: .4s ease-in-out;
                        font-weight: 450;
                        &:hover{
                            color: #09588d;
                            text-shadow: 2px 2px 3px #55a1d4;
                        }
                    }
                }
            }
        }
    }
    &__localizacao{
        background-color: #fff;
        h2{
            text-transform: uppercase;
            text-align: center;
            color: #09588d;
            position: relative;
            padding-bottom: 1rem;
            @include bottom-after(47%, 50px);
            margin-bottom: 1.5rem;
        }
        &__mapa{
            position: relative;
            max-height: 400px;
            overflow: hidden;
            .cardLocal{
                display: flex;
                align-items: center;
                gap: 2rem;
                position: absolute;
                box-shadow: 7px 4px 12px rgba($color: #000, $alpha: 0.2);
                // padding: 50px 0 50px 120px;
                padding: 50px;
                background-color: #fff;
                border-radius: 10px;
                // border: 2px solid rebeccapurple;
                width: 500px;
                max-width: 90%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);   
                transition: .4s ease-in-out;
                &:hover{
                    transform: translate(-50%, -50%) scale(1.1);
                    address{
                        color: #286796;
                    }
                }
                h3{
                    position: relative;
                    font-size: 1.25rem;
                    color: #286796;
                    text-transform: uppercase;
                }
                address{
                    font-style: normal;
                    font-size: .9rem;
                    line-height: 1.25rem;
                    color: $marineblue;
                    a{
                        display: inline-block;
                        color: inherit;
                        text-decoration: none;
                        @include padding-tb(.7rem,.7rem);
                        padding-right: 4rem;
                    }
                    span{
                        display: block;
                    }
                }
            }
            iframe{
                max-width: 100%;
                margin-top: -8rem;
            }
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .contato{
        &__form{
            flex-direction: column;
            margin-left: 0;
            .faleConosco{
                padding-left: 30px;
                p{
                    margin-top: 2rem;
                    span{
                        &::after{
                            content: ' abaixo';
                        }
                    }
                }
            }
            form{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding-left: 10px;
                .form-row{
                    width: 100%;
                    display: block;
                }
            }
        }
        &__vantagens{
            &__dados{
                flex-direction: column;
                .info{
                    flex-direction: inherit;
                    text-align: center;
                    &__desc{
                        margin: 1.5rem 0;
                    }
                }
            }
        }
        &__localizacao{
            h2{
                @include bottom-after(45%, 50px);
            }
            &__mapa{
                max-height: 280px;
                .cardLocal{
                    padding: 20px 0 20px 30px;
                }
            }
        }
        &__enviado{
            &__corpo{
                word-break: break-word;
            }
        }
    }
}