.descriptionCard{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 1;
    &::before{
        content: '';
        position: absolute;
        left: -9.5rem;
        bottom: -5rem;
        z-index: -1;
        display: inline-block;
        background-image: url("../assets/logo_500.png");
        opacity: 20%;
        background-size: cover;
        width: 300px;
        aspect-ratio: 1;
    }
    &__texto{
        background-color: #fff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 2rem 0 2rem 3rem;
        &__bmVindo{
            margin-top: 2rem;
            @include subtitulo();
        }
        h2{
            margin-bottom: 2rem;
            text-transform: uppercase;
            color: #07578d;
        }
        p:not(p.descriptionCard__texto__bmVindo){
            color: $marineblue;
            width: 95%;
            margin-bottom: 1.2rem;
            line-height: 1.8rem;
            a{
                color: #007bff;
                text-decoration: none;
                &:hover{
                    color: #0056b3;
                }
            }
        }
        ul{
            list-style: disc;
            padding-left: 2rem;
            line-height: 1.5rem;
            color: $marineblue;
        }
        .btnPadrao{
            margin: 1rem 0;
        }
    }
    &__img{
        flex-basis: 40%;
        flex-shrink: 0;
        background-position: center;
        background-size: cover;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    &--qmSomos{
        .descriptionCard__img{
            background-image: url(../assets/qmsomos-sobre.png);
        }
    }
    &--suporte{
        .descriptionCard__img{
            background-image: url(../assets/suporte-e-manutencao-lateral.jpg);
            background-position-x: 30%;
        }
    }
    &--site{
        .descriptionCard__texto{
            p:not(p.descriptionCard__texto__bmVindo){
                margin-bottom: .5rem;
            }
        }
        .descriptionCard__img{
            background-image: url(../assets/criacao-de-sites-lateral.jpg);
        }
    }
    &--nuvem{
        .descriptionCard__img{
            background-image: url(../assets/sistemas-em-nuvem-lateral.jpg);
        }
    }
    &--ecommerce{
        .descriptionCard__img{
            background-image: url(../assets/ecommerce-lateral.jpg);
        }
    }
    &--seo{
        .descriptionCard__img{
            background-image: url(../assets/seo-lateral.jpg);
        }
    }
    &--intranet{
        .descriptionCard__img{
            background-image: url(../assets/intranet-lateral.png);
        }
    }
    &--googleads{
        .descriptionCard__img{
            background-image: url(../assets/googleadwords-lateral.jpg);
        }
    }
    &--apps{
        .descriptionCard__img{
            background-image: url(../assets/criacao-apps-lateral.jpg);
        }
    }
    &--mktconteudo{
        .descriptionCard__img{
            background-image: url(../assets/marketing-conteudo-lateral.jpg);
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .descriptionCard{
        width: 100%;
        flex-direction: column;
        &__texto{
            padding: 1rem 10px 10px 1rem;
            border-bottom-left-radius: 0;
        }
        &__img{
            flex-basis: 50%;
            padding: 50px;
            border-radius: 0;
            border-bottom: 4px solid #07578d;
        }
    }
}