.destaque{  
    color: #fefefe;
    margin-top: -5rem;
    position: relative;
    z-index: 2;
    .swiper{
        max-width: 1100px;
        &-button{
            &-prev{
                color: #c0c0c0;
            }
            &-next{
                color: #c0c0c0;
            }
        }
        }
        &__container{
            position: relative;
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .destaque{
        margin-top: .4rem;
    }
}