.footer{
    padding-top: 2.2rem;
    background-image: url(../assets/logo_1000.png);
    background-repeat: no-repeat;
    background-size: 48%;
    background-position-y: -70px;
    background-color: #0b4560;
    >div{
        padding: 0 4rem;
        display: flex;
        justify-content: space-between;
        max-width: 1380px;
        margin: 0 auto;
    }
    &__menu{
        display: flex;
        padding-bottom: 1rem;
        &:first-of-type{
            margin-right: 3rem;
        }
        ul{
            margin: 0 2rem;
            li{
                margin: 1rem 0;
                a{
                    color: #f4f5f7;
                    text-decoration: none;
                    &:hover{
                        text-shadow: 0 0 10px rgba(255,255,255,0.4);
                    }
                    &.footer__menu__destaque{
                        color: $lightblue;
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    &__contato{
        margin-right: 5rem;
        h2{
            color: $lightblue;
            margin: 10px 0;
        }
        a{
            color: #FFF;
            font-size: 1.2rem;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        &__social{
            display: flex;
            justify-content: space-around;
            margin-bottom: 1.5rem;
            img{
                margin-right: .4rem;
                &:hover{
                    filter: brightness(2.0) saturate(0);
                }
            }
        }
    }
    &__copyright{
        margin-top: 2.5rem;
        min-width: 100%;
        display: block;
        font-size: .9rem;
        color: $lightblue;
        background-color: rgba($color: #000, $alpha: 0.5);
        &__wrapper{
            padding: 1.2rem 0;
            display: flex;
            justify-content: space-between;
            width: 1200px;
            margin: 0 auto;
            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: inherit;
                img{
                    margin-left: 5px;
                }
            }
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .footer{
        background-size: cover;
        background-position: center;
        text-align: center;
        &>div{
            flex-direction: column;
            padding: 0 0;
            margin: 0 auto;
        }
        &__menu{
            
            &:first-of-type{
                margin-right: 0;
            }
            ul{
                margin: 0;
                width: 100%;
                li{
                    text-align: center;
                }
            }
        }
        &__contato{
            margin-right: 0;
            margin-bottom: 1rem;
            h2{
                font-size: 1.2rem;
            }
            &__social{
                max-width: 300px;
                margin: 0 auto;
            }
        }
        &__copyright{
            padding: 1.5rem 0;
            &__wrapper{
                flex-direction: column;
                justify-content: space-between;
                margin-left: 0;
                width: 100%;
                a{
                    text-align: center;
                    margin-top: 10px;
                    &:last-of-type{
                        justify-content: center;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}