.header{
    position: relative;
    z-index: 2;
    border-bottom: 7px solid $lightblue;
    .wrapper{
        max-width: 1370px;
        margin: 0 auto;
    }
    h1{
        span{
            position: absolute;
        }
    }
    >*{
        padding: 0 4rem;
    }
    &__social{
        background-color: $darkblue;
        @include padding-tb(5px,5px);
        ul{
            display: flex;
            // margin-left: auto;
            margin: 0 auto;
            max-width: 1300px;
            li{
                margin: 0 5px;
                &:first-of-type{
                    margin-left: auto;
                }
                img{
                    filter: brightness(85%);
                    &:hover{    
                        filter: brightness(100%);
                    }
                }
            }
        }
    }
    &__menu{
        &>a{
            img{
                display: block;
                margin: 10px auto;
            }
        }
        .toggler{
            display: none;
        }
        @include padding-tb(10px,10px);
        display: flex;
        justify-content: space-between;
        &__list{
            display: flex;
            align-items: center;    
            li{
                margin: 0 10px;
                a{
                    display: block;
                    @include padding-tb(10px,10px);
                    text-decoration: none;
                    color: #626262;
                    &:hover{
                        // color: #26adcd;
                        color: $lightblue;
                    }
                }
                
            }
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .header{
        &__social{
            ul{
                li{
                    &:last-of-type{
                        margin-right: auto;
                    }
                }
            }
        }
        &__menu{
            .toggler{
                display: block;
                background-color: transparent;
                .icon-active{
                    color: #fff;
                    background-color: $darkblue;
                    border: 0;
                }
                i{
                    font-size: 1.5rem;
                    color: $darkblue;
                    padding: 10px;
                    border-radius: 50%;
                    border: 2px solid currentColor;
                }
            }
            flex-direction: column;
            // position: relative;
            &__list{
                position: absolute;
                display: block;
                visibility: hidden;
                transform: translateY(-100%);
                background-color: #fff;
                top: 100%;
                left: 0;
                width: 100%;
                border-bottom: 7px solid $lightblue;
                transition: none;
                &.active{
                    transition: .3s ease-in;
                    transform: translateY(0);
                    visibility: visible;
                }
                li{
                    text-align: center;
                }
            }
        }   
    }
}