.info{
    margin: 0 auto;
    &__circle{
        outline: 1.2rem solid #e0f0f6;
        width: 100px;
        aspect-ratio: 1;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-image: linear-gradient(to right, #515ba4 ,#26accc);
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        transition: .7s;
        &--google{
            background-color: #fff;
            background-image: url('../assets/google-logo.png');
            background-repeat: no-repeat;
            background-size: 70px;
            background-position: center;
        }
        &--wpp{
            background-image: linear-gradient(to right, #1d862f,#26cc68);
        }
        &--tel{
            background-image: linear-gradient(to right, #1d5686,#2664cc);
        }
        &--email{
            background-image: linear-gradient(to right, #0681ea, #26b7cc);
        }
        &:hover{
            outline: 1.3rem solid darken(#e0f0f6, 9);
            transform: scale(1.1);
        }
    }
    &__desc{
        color: $marineblue;
        span{
            display: block;
            font-weight: 500;
        }
    }
    h3{
        margin-top: 1.8rem;
        color: $marineblue;
        width: 180px;
        text-align: center;
        span{
            display: block;
        }
    }
}