.rodape{
    background-color: rgba($color: #26adcd, $alpha: 0.6);
    background-size: cover;
    background-blend-mode: multiply;
    &__wrapper{
        @include padding-tb(4rem, 4.5rem);
        color: #fff;
        h2{
            font-size: 2rem;
            text-align: center;
            margin: 2rem auto;
            text-transform: uppercase;
            span{
                display: block;
                margin-bottom: .5rem;
            }
        }
        .btnPadrao--branco{
            color: #49b8d4; 
            display: block;
            width: 350px;
            margin: 0 auto;
            text-align: center;
            background-color: #fff;
            &:hover{
                //sobrescrever efeito padrão de linear-gradient
                background-image: none;
                box-shadow: 12px 10px 10px rgba($color: #000, $alpha: .3);
                transform: translateY(-10px);
                color: darken(#49b8d4, 10);
            }
            &:active{
                background-image: none;
                background-color: darken(#49b8d4, 10); 
                color: #fff;
            }
        }
    }
    &--qmSomos{
        background-image: url('../assets/qmsomos-rodape.jpg');
        background-position-y: 68%;
        .rodape__wrapper{
            background-color: rgba($color: #26adcd, $alpha: 0.7);
            h2{
                /*
                Tamanho específico com o intuito de
                quebrar linha, conforme apresentava 
                o design.
                */    
                width: 470px;
            }
        }

    }
    &--servicos{
        background-image: url('../assets/servicos-rodape.png');
        background-position: center;
    }
    &--servicoIntegra{
        background-image: url(../assets/servico-integra-rodape.png);
    }
    &--blog{
        background-image: url('../assets/blog-rodape.png');
    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .rodape{
        &__wrapper{
            padding-top: 2rem;
        }
        &--qmSomos{
            h2{
                max-width: 100%;
            }
        }
    }
}