.servicoIntegra{
    background-color: #f0f5f9;
    @include padding-tb(3rem, 2rem);
    .descriptionCard{
        &::before{
            top: 0;
            left: -26rem;
            width: 450px;
        }
    }
    .destaque{
        margin-top: 3rem;
        margin-bottom: 2rem;
        .subtitulo, h2{
            text-align: center;
        }
        .subtitulo{
            @include subtitulo();
        }
        h2{
            text-transform: uppercase;
            color: #07578d;
            position: relative;
            padding-bottom: 1rem;
            @include bottom-after(48%, 50px)
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .servicoIntegra{
        padding-top: 0;
        .destaque{
            h2{
                @include bottom-after(43%, 50px);
            }
        }
    }
}