.servicos{
    margin: 0 auto;
    padding-top: 3rem;
    background-color: $lighterblue;
    overflow-x: hidden;
    &__subtitulo, h2{
        text-align: center;
    }
    &__subtitulo{
        color: $grayblue;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }
    h2{
        margin-bottom: 1rem;
        text-transform: uppercase;
        color: #07578d;
        position: relative;
        @include padding-tb(5px, 1.5rem);
        @include bottom-after(45%, 60px);
    }
    &__wrapper{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
        padding-bottom: 3rem;
        @include doubleBG();
    }
    &__card{
        margin-top: 1.5rem;
        
    }
}