.sobre{
    background-color: #f0f5f9;
    @include padding-tb(3rem, 2rem);
    padding-bottom: 5.5rem;
    //Nossos resultados são baseados em dados
    &__vantagens{
        margin-top: 4rem;
        color: $grayblue;
        text-align: center;
        &__pq, h2{
            text-transform: uppercase;
        }
        &__pq{
            font-size: .9rem;
            letter-spacing: 3px;
        }
        h2{
            font-size: 1.6rem;
            margin-top: 1rem;
            margin-bottom: 3.5rem;
            position: relative;
            @include padding-tb(5px, 1.5rem);
            @include bottom-after(45%, 60px);
        }
        &__dados{
            display: flex;
            max-width: 1100px;
            margin: 0 auto;
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 900px) {
    .sobre{
        padding-top: 0;
        padding-bottom: 2.2rem;
        &__vantagens{
            &__dados{
                flex-wrap: wrap;
                align-items: center;
                .info{
                    margin: 1rem auto;
                }
            }
        }
    }
}