//Reset
*{
    margin: 0;
    padding: 0;
    border: 0;
}
img{
    max-width: 100%;
    display: block;
}
ul{
    list-style: none;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
//Fim Reset

//Variáveis

$lightblue: #92c1de;
$darkblue: #1e2d72;
$grayblue: #024075;
$marineblue: #19303e;
$lighterblue: #f1f6fa;
//Fim Variáveis
//Mixins

@mixin btnVariation($from, $to, $name){
    &#{$name}{
       background-image: linear-gradient(to right, $from, $to);
       //Estilos para caso btn seja um <a>
       text-decoration: none;
       display: inline-block;
       //
       &:hover{
           background-image: linear-gradient(to right, lighten($from, 3%), lighten($to, 3%));
           box-shadow: inset -1px -1px 20px 0 rgba(lighten($to, 30%), 0.5);
       }
       &:active{
           background-image: linear-gradient(to right, darken($from, 10%), darken($to, 10%));
           box-shadow: none;
        }
    }
}

@mixin padding-tb($top, $bottom){
    padding-top: $top;
    padding-bottom: $bottom;
}
@mixin bottom-after($left, $width, $color: #26adcd){
    &::after{
        bottom: 0;
        left: $left;
        content: '';
        width: $width;
        height: 3px;
        position: absolute;
        background-color: $color;
    }
}
@mixin subtitulo(){
    margin-bottom: 5px;
    color: $grayblue;
    text-transform: uppercase;
    letter-spacing: 2px;
}
@mixin doubleBG($ll: -19rem, $lt: 5rem, $rr:-23rem , $rb:7rem){
    &::before{
        content: '';
        position: absolute;
        left: $ll;
        top: $lt;
        z-index: -1;
        display: inline-block;
        background-image: url("../assets/logo_500.png");
        opacity: 20%;
        background-size: cover;
        width: 300px;
        aspect-ratio: 1;
    }
    &::after{
        content: '';
        position: absolute;
        right: $rr;
        bottom: $rb;
        z-index: -1;
        display: inline-block;
        background-image: url("../assets/logo_500.png");
        opacity: 20%;
        background-size: cover;
        width: 350px;
        aspect-ratio: 1;
    }
}
//Fim Mixins

//Globais
@media screen and (min-width: 350px) and (max-width: 700px) {
    :root{
        font-size: 14px;
    }
}
body{
    font-family: MontSerrat, Verdana, Tahoma, sans-serifs;
}
.btnPadrao{
    border: 0;
    display: block;
    border-radius: 35px;
    padding: 2.2em;
    color: #fff;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    transition: .5s;
    box-shadow: inset -1px -1px 6px 0 rgba(#000, 0.1);
    @include btnVariation($darkblue ,#02568c ,'--azul');
    @include btnVariation(#fff, #fff , '--branco' );
}
.servicos__card{
    width: 22rem;
    background-color: #1caaec;
    color: #fefefe;
    margin: 0 auto;
    transition: .4s;
    flex-shrink: 1;
    &::after{
        content: '';
        padding: 0;
    }
    &:hover{
        box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.4);
        transform: translateY(-10%);
    }
    h3{
        padding-top: 2rem;
    }
    h3, p{
        margin-left: 20px;
        margin-right: 8px;
    }
    p{
        margin-top: 1.2rem;
    }
    .lerMais{
        color: #fff;
        text-decoration: none;
        display: inline-block;
        margin: 1rem 20px;
        margin-bottom: 1.5rem;
        font-weight: bold;
        font-size: 1rem;
        &:hover{
            text-decoration: underline;
        }
    }
    &__img{
        margin-left: auto;
        margin-top: auto;
        height: 130px;
        background-size: cover;
        background-repeat: no-repeat;
        flex-basis: 1;
        margin-bottom: 0;
        &--suporte{
            background-image: url(../assets/suporte-manutencao.png);
        }
        &--site{
            background-image: url(../assets/criacao-site.png);
        }
        &--nuvem{
            background-image: url(../assets/sistema-nuvem.png);
        }
        &--ecommerce{
            background-image: url(../assets/ecommerce.png);
        }
        &--seo{
            background-image: url(../assets/seo.png);
        }
        &--intranet{
            background-image: url(../assets/intranet.png);
        }
        &--googleads{
            background-image: url(../assets/adwords.png);
        }
        &--apps{
            background-image: url(../assets/criacao-apps.png);
        }
        &--mktconteudo{
            background-image: url(../assets/marketing-conteudo.png);
        }
    }
}
.cardPost{
    background-color: #fff;
    border-radius: 10px;
    max-width: 550px;
    transition: .4s ease-in-out;
    &:hover{
        transform: translateY(-1rem);
        .cardPost__texto{
            border: 4px solid #26adcd;
            border-top: 0;
        }
    }
    &:nth-of-type(3), &:nth-of-type(4){
        margin-top: 1rem;
    }
    img{
        max-width: 100%;
        max-height: 320px;
        object-fit: cover;
    }
    &__texto{
        padding: 1rem 1rem 0 1rem;
        height: 140px;
        position: relative;
        transition: .2s ease-in-out;
        em{
            font-style: none;
            color: #8a9eb0;
            font-size: .7rem;
        }
        h3{
            a{
                font-size: 1.25rem;
                color: $marineblue;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                    color: lighten($marineblue, 10);
                }
                span{
                    display: block;
                }
            }
        }
        .blogLer{
            display: block;
            text-align: right;
            position: absolute;
            right: 20px;
            bottom: 15px;
            color: #007bff;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                color: lighten(#007bff,10);
            }
        }
    }

}
@media screen and (min-width: 350px) and (max-width: 700px) {
    .cardPost{
        min-width: 85%;
        max-width: 85%;
        img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            min-width: 100%;
            max-width: 100%;
        }
        &__texto{
            height: 160px;
        }
    }
}
//Fim Globais