@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  :root {
    font-size: 14px;
  }
}

body {
  font-family: MontSerrat, Verdana, Tahoma, sans-serifs;
}

.btnPadrao {
  border: 0;
  display: block;
  border-radius: 35px;
  padding: 2.2em;
  color: #fff;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: inset -1px -1px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset -1px -1px 6px 0 rgba(0, 0, 0, 0.1);
}

.btnPadrao--azul {
  background-image: -webkit-gradient(linear, left top, right top, from(#1e2d72), to(#02568c));
  background-image: linear-gradient(to right, #1e2d72, #02568c);
  text-decoration: none;
  display: inline-block;
}

.btnPadrao--azul:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#21327e), to(#025f9b));
  background-image: linear-gradient(to right, #21327e, #025f9b);
  -webkit-box-shadow: inset -1px -1px 20px 0 rgba(43, 170, 252, 0.5);
          box-shadow: inset -1px -1px 20px 0 rgba(43, 170, 252, 0.5);
}

.btnPadrao--azul:active {
  background-image: -webkit-gradient(linear, left top, right top, from(#131d4a), to(#01375a));
  background-image: linear-gradient(to right, #131d4a, #01375a);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnPadrao--branco {
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
  background-image: linear-gradient(to right, #fff, #fff);
  text-decoration: none;
  display: inline-block;
}

.btnPadrao--branco:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: linear-gradient(to right, white, white);
  -webkit-box-shadow: inset -1px -1px 20px 0 rgba(255, 255, 255, 0.5);
          box-shadow: inset -1px -1px 20px 0 rgba(255, 255, 255, 0.5);
}

.btnPadrao--branco:active {
  background-image: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#e6e6e6));
  background-image: linear-gradient(to right, #e6e6e6, #e6e6e6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.servicos__card {
  width: 22rem;
  background-color: #1caaec;
  color: #fefefe;
  margin: 0 auto;
  -webkit-transition: .4s;
  transition: .4s;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.servicos__card::after {
  content: '';
  padding: 0;
}

.servicos__card:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.servicos__card h3 {
  padding-top: 2rem;
}

.servicos__card h3, .servicos__card p {
  margin-left: 20px;
  margin-right: 8px;
}

.servicos__card p {
  margin-top: 1.2rem;
}

.servicos__card .lerMais {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 1rem 20px;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.servicos__card .lerMais:hover {
  text-decoration: underline;
}

.servicos__card__img {
  margin-left: auto;
  margin-top: auto;
  height: 130px;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  margin-bottom: 0;
}

.servicos__card__img--suporte {
  background-image: url(../assets/suporte-manutencao.png);
}

.servicos__card__img--site {
  background-image: url(../assets/criacao-site.png);
}

.servicos__card__img--nuvem {
  background-image: url(../assets/sistema-nuvem.png);
}

.servicos__card__img--ecommerce {
  background-image: url(../assets/ecommerce.png);
}

.servicos__card__img--seo {
  background-image: url(../assets/seo.png);
}

.servicos__card__img--intranet {
  background-image: url(../assets/intranet.png);
}

.servicos__card__img--googleads {
  background-image: url(../assets/adwords.png);
}

.servicos__card__img--apps {
  background-image: url(../assets/criacao-apps.png);
}

.servicos__card__img--mktconteudo {
  background-image: url(../assets/marketing-conteudo.png);
}

.cardPost {
  background-color: #fff;
  border-radius: 10px;
  max-width: 550px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.cardPost:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.cardPost:hover .cardPost__texto {
  border: 4px solid #26adcd;
  border-top: 0;
}

.cardPost:nth-of-type(3), .cardPost:nth-of-type(4) {
  margin-top: 1rem;
}

.cardPost img {
  max-width: 100%;
  max-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cardPost__texto {
  padding: 1rem 1rem 0 1rem;
  height: 140px;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.cardPost__texto em {
  font-style: none;
  color: #8a9eb0;
  font-size: .7rem;
}

.cardPost__texto h3 a {
  font-size: 1.25rem;
  color: #19303e;
  text-decoration: none;
}

.cardPost__texto h3 a:hover {
  text-decoration: underline;
  color: #284c62;
}

.cardPost__texto h3 a span {
  display: block;
}

.cardPost__texto .blogLer {
  display: block;
  text-align: right;
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: #007bff;
  text-decoration: none;
}

.cardPost__texto .blogLer:hover {
  text-decoration: underline;
  color: #3395ff;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .cardPost {
    min-width: 85%;
    max-width: 85%;
  }
  .cardPost img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 100%;
    max-width: 100%;
  }
  .cardPost__texto {
    height: 160px;
  }
}

.header {
  position: relative;
  z-index: 2;
  border-bottom: 7px solid #92c1de;
}

.header .wrapper {
  max-width: 1370px;
  margin: 0 auto;
}

.header h1 span {
  position: absolute;
}

.header > * {
  padding: 0 4rem;
}

.header__social {
  background-color: #1e2d72;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
}

.header__social ul li {
  margin: 0 5px;
}

.header__social ul li:first-of-type {
  margin-left: auto;
}

.header__social ul li img {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.header__social ul li img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.header__menu {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu > a img {
  display: block;
  margin: 10px auto;
}

.header__menu .toggler {
  display: none;
}

.header__menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__list li {
  margin: 0 10px;
}

.header__menu__list li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #626262;
}

.header__menu__list li a:hover {
  color: #92c1de;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .header__social ul li:last-of-type {
    margin-right: auto;
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu .toggler {
    display: block;
    background-color: transparent;
  }
  .header__menu .toggler .icon-active {
    color: #fff;
    background-color: #1e2d72;
    border: 0;
  }
  .header__menu .toggler i {
    font-size: 1.5rem;
    color: #1e2d72;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid currentColor;
  }
  .header__menu__list {
    position: absolute;
    display: block;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #fff;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 7px solid #92c1de;
    -webkit-transition: none;
    transition: none;
  }
  .header__menu__list.active {
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
  }
  .header__menu__list li {
    text-align: center;
  }
}

.banner section {
  color: #fefefe;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 8rem;
}

.banner section > * {
  padding: 0 4rem;
}

.banner section h1, .banner section h2 {
  width: 60%;
  max-width: 800px;
  padding-top: 5rem;
  padding-bottom: 0;
  font-size: 2.5rem;
}

.banner section p {
  width: 60%;
  max-width: 800px;
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 1.3rem;
}

.banner section .btnBanner {
  cursor: pointer;
  margin: 0 4rem;
  padding: .5em 1em;
  color: #02568c;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  text-decoration: none;
}

.banner section .btnBanner:hover {
  background-color: #0375be;
  color: #fff;
}

.banner section .btnBanner:active {
  background-color: #01375a;
  /*É possível pressionar o botão e afastar o mouse, assim tirando a cor do
                hover*/
  color: #fff;
}

.banner__especialista {
  background-image: url(../assets/bg-banner-1.png);
}

.banner__ecommerce {
  background-image: url(../assets/bg-banner-2.png);
}

.banner__contato {
  background-image: url(../assets/bg-banner-3.png);
}

.banner .swiper {
  z-index: 1;
}

.banner .swiper-pagination {
  margin-bottom: 4rem;
}

.banner .swiper-pagination-bullet {
  padding: 7px;
}

.banner .swiper-pagination-bullet-active {
  background-color: #92c1de;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .banner section h1, .banner section h2, .banner section p {
    width: 85%;
    padding-left: 1rem;
  }
  .banner section h1, .banner section h2 {
    padding-top: 3rem;
  }
  .banner section .btnBanner {
    margin: 0 1rem;
  }
  .banner .swiper-pagination {
    margin-bottom: 1rem;
  }
}

.destaque {
  color: #fefefe;
  margin-top: -5rem;
  position: relative;
  z-index: 2;
}

.destaque .swiper {
  max-width: 1100px;
}

.destaque .swiper-button-prev {
  color: #c0c0c0;
}

.destaque .swiper-button-next {
  color: #c0c0c0;
}

.destaque__container {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .destaque {
    margin-top: .4rem;
  }
}

.certificacoes h2 {
  margin: 3rem 0;
  color: #1e2d72;
  text-align: center;
  font-size: 1.8rem;
}

.certificacoes__container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  padding: 0 1rem;
}

.certificacoes__container .swiper {
  max-width: 1200px;
}

.certificacoes__container .swiper-button-prev {
  color: #c0c0c0;
}

.certificacoes__container .swiper-button-next {
  color: #c0c0c0;
}

.certificacoes__container .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.certificacoes__container .swiper-wrapper img {
  margin: 0 auto;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.certificacoes__container .swiper-wrapper img:hover {
  -webkit-transform: translateY(-12px) translateX(5px);
          transform: translateY(-12px) translateX(5px);
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .certificacoes {
    margin: 3.5rem 0 0.5rem;
  }
  .certificacoes h2 {
    margin: 2rem 0;
  }
  .certificacoes .swiper {
    color: currentColor;
  }
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1380px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.blogContainer h2 {
  font-size: 1.8rem;
  margin: 1.5rem 0;
}

.blogContainer h2 a {
  color: #1e2d72;
  text-decoration: none;
}

.blogContainer h2 a:hover {
  color: #334dc3;
}

.blogContainer h3 {
  margin-top: 1rem;
  color: #92c1de;
}

.blogContainer p {
  color: #858585;
  width: 90%;
}

.blogContainer__downloads {
  margin-left: 4rem;
}

.blogContainer__downloads p {
  margin-top: 1rem;
}

.blogContainer__downloads p a {
  text-decoration: none;
  color: inherit;
}

.blogContainer__downloads p a:hover {
  text-decoration: underline;
}

.blogContainer__noticias {
  margin-right: 4rem;
}

.blogContainer__noticias__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blogContainer__noticias__wrapper a {
  display: inline-block;
  text-decoration: none;
  color: #92c1de;
  font-weight: bold;
}

.blogContainer__noticias__wrapper a:hover {
  text-decoration: underline;
}

.blogContainer__noticias__wrapper__destacada p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blogContainer__noticias__wrapper__destacada p a {
  color: inherit;
  font-weight: normal;
}

.blogContainer__noticias__wrapper__destacada p a:hover {
  text-decoration: underline;
}

.blogContainer__noticias__wrapper__outras div {
  margin-bottom: 1rem;
}

.blogContainer__noticias__wrapper__outras div p {
  margin-bottom: 1rem;
}

.blogContainer__noticias__wrapper__outras div p a {
  color: inherit;
  font-weight: normal;
}

.blogContainer__noticias__wrapper__outras div p a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .blogContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogContainer img {
    margin: 0 auto;
  }
  .blogContainer h2, .blogContainer h3 {
    text-align: center;
  }
  .blogContainer p {
    margin: 1rem 0;
    width: 100%;
  }
  .blogContainer__downloads {
    margin: 0 17px;
  }
  .blogContainer__noticias {
    margin: 0 17px;
  }
  .blogContainer__noticias__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogContainer__noticias__wrapper a:not(.destaque-blog) {
    display: block;
  }
  .blogContainer__noticias__wrapper .destaque-blog {
    display: block;
    margin: 0 auto;
  }
}

.footer {
  padding-top: 2.2rem;
  background-image: url(../assets/logo_1000.png);
  background-repeat: no-repeat;
  background-size: 48%;
  background-position-y: -70px;
  background-color: #0b4560;
}

.footer > div {
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1380px;
  margin: 0 auto;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
}

.footer__menu:first-of-type {
  margin-right: 3rem;
}

.footer__menu ul {
  margin: 0 2rem;
}

.footer__menu ul li {
  margin: 1rem 0;
}

.footer__menu ul li a {
  color: #f4f5f7;
  text-decoration: none;
}

.footer__menu ul li a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.footer__menu ul li a.footer__menu__destaque {
  color: #92c1de;
  font-weight: bold;
  font-size: 1.2rem;
}

.footer__contato {
  margin-right: 5rem;
}

.footer__contato h2 {
  color: #92c1de;
  margin: 10px 0;
}

.footer__contato a {
  color: #FFF;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer__contato a:hover {
  text-decoration: underline;
}

.footer__contato__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1.5rem;
}

.footer__contato__social img {
  margin-right: .4rem;
}

.footer__contato__social img:hover {
  -webkit-filter: brightness(2) saturate(0);
          filter: brightness(2) saturate(0);
}

.footer__copyright {
  margin-top: 2.5rem;
  min-width: 100%;
  display: block;
  font-size: .9rem;
  color: #92c1de;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer__copyright__wrapper {
  padding: 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.footer__copyright__wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}

.footer__copyright__wrapper a img {
  margin-left: 5px;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .footer {
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  .footer > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0;
    margin: 0 auto;
  }
  .footer__menu:first-of-type {
    margin-right: 0;
  }
  .footer__menu ul {
    margin: 0;
    width: 100%;
  }
  .footer__menu ul li {
    text-align: center;
  }
  .footer__contato {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .footer__contato h2 {
    font-size: 1.2rem;
  }
  .footer__contato__social {
    max-width: 300px;
    margin: 0 auto;
  }
  .footer__copyright {
    padding: 1.5rem 0;
  }
  .footer__copyright__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
    width: 100%;
  }
  .footer__copyright__wrapper a {
    text-align: center;
    margin-top: 10px;
  }
  .footer__copyright__wrapper a:last-of-type {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
}

.cabecalho {
  background-position-y: center;
  text-transform: uppercase;
  background-size: cover;
}

.cabecalho__wrapper {
  padding: 5px 4rem 5rem 4rem;
}

.cabecalho__wrapper__breadcrumb {
  max-width: 1300px;
  margin: 2rem auto 0 auto;
  font-size: .8rem;
}

.cabecalho__wrapper__breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cabecalho__wrapper__breadcrumb ul li {
  color: #fff;
  margin: 0 1rem;
  text-align: center;
}

.cabecalho__wrapper__breadcrumb ul li:not(:first-of-type) {
  list-style-type: disc;
}

.cabecalho__wrapper__breadcrumb ul li:not(:first-of-type) a {
  color: #fff;
  text-decoration: none;
}

.cabecalho__wrapper__breadcrumb ul li:not(:first-of-type) a:hover {
  text-decoration: underline;
}

.cabecalho__wrapper__title {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabecalho__wrapper__title h1 {
  text-align: center;
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  padding-bottom: 1rem;
}

.cabecalho__wrapper__title h1::after {
  bottom: 0;
  left: 40%;
  content: '';
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: #26adcd;
}

.cabecalho--qmSomos {
  background-image: url(../assets/qmsomos-cabecalho.png);
  background-position: center;
  background-size: 150%;
}

.cabecalho--qmSomos .cabecalho__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho--servicos {
  background-image: url(../assets/servicos-cabecalho.png);
  background-color: transparent;
  background-position: center;
}

.cabecalho--servicoIntegra .cabecalho__wrapper__title {
  margin-top: 1.8rem;
}

.cabecalho--servicoIntegra .cabecalho__wrapper__title h1 {
  font-size: 2rem;
}

.cabecalho--suporte {
  background-image: url(../assets/suporte-e-manutencao-title.jpg);
}

.cabecalho--suporte .cabecalho__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho--site {
  background-image: url(../assets/criacao-de-sites-title.png);
}

.cabecalho--site .cabecalho__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho--nuvem {
  background-image: url(../assets/sistemas-em-nuvem-title.jpeg);
}

.cabecalho--nuvem .cabecalho__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho--ecommerce {
  background-image: url(../assets/ecommerce-title.jpg);
}

.cabecalho--ecommerce .cabecalho__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho--seo {
  background-image: url(../assets/seo-title.png);
}

.cabecalho--seo .cabecalho__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho--intranet {
  background-image: url(../assets/intranet-title.jpg);
}

.cabecalho--intranet .cabecalho__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho--googleads {
  background-image: url(../assets/googleadwords-title.jpg);
}

.cabecalho--googleads .cabecalho__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho--apps {
  background-image: url(../assets/criacao-apps-title.jpg);
}

.cabecalho--apps .cabecalho__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho--mktconteudo {
  background-image: url(../assets/marketing-conteudo-title.jpg);
}

.cabecalho--mktconteudo .cabecalho__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho--contato {
  background-image: url(../assets/contato-title.png);
}

.cabecalho--contato .cabecalho__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho--blog {
  background-image: url(../assets/blog-title.png);
}

.cabecalho--blog h1::after {
  bottom: 0;
  left: 38%;
  content: '';
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: #26adcd;
}

.cabecalho--blogPost {
  background-image: url(../assets/blog-title.png);
}

.cabecalho--blogPost h1 {
  font-size: 2.25rem;
}

.cabecalho--blogPost h1::after {
  bottom: 0;
  left: 44%;
  content: '';
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: #26adcd;
}

.cabecalho--blogPost h1 span {
  display: block;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .cabecalho__wrapper {
    padding: 5px .7rem 5rem .7rem;
  }
}

.descriptionCard {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.descriptionCard::before {
  content: '';
  position: absolute;
  left: -9.5rem;
  bottom: -5rem;
  z-index: -1;
  display: inline-block;
  background-image: url("../assets/logo_500.png");
  opacity: 20%;
  background-size: cover;
  width: 300px;
  aspect-ratio: 1;
}

.descriptionCard__texto {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 2rem 0 2rem 3rem;
}

.descriptionCard__texto__bmVindo {
  margin-top: 2rem;
  margin-bottom: 5px;
  color: #024075;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.descriptionCard__texto h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #07578d;
}

.descriptionCard__texto p:not(p.descriptionCard__texto__bmVindo) {
  color: #19303e;
  width: 95%;
  margin-bottom: 1.2rem;
  line-height: 1.8rem;
}

.descriptionCard__texto p:not(p.descriptionCard__texto__bmVindo) a {
  color: #007bff;
  text-decoration: none;
}

.descriptionCard__texto p:not(p.descriptionCard__texto__bmVindo) a:hover {
  color: #0056b3;
}

.descriptionCard__texto ul {
  list-style: disc;
  padding-left: 2rem;
  line-height: 1.5rem;
  color: #19303e;
}

.descriptionCard__texto .btnPadrao {
  margin: 1rem 0;
}

.descriptionCard__img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.descriptionCard--qmSomos .descriptionCard__img {
  background-image: url(../assets/qmsomos-sobre.png);
}

.descriptionCard--suporte .descriptionCard__img {
  background-image: url(../assets/suporte-e-manutencao-lateral.jpg);
  background-position-x: 30%;
}

.descriptionCard--site .descriptionCard__texto p:not(p.descriptionCard__texto__bmVindo) {
  margin-bottom: .5rem;
}

.descriptionCard--site .descriptionCard__img {
  background-image: url(../assets/criacao-de-sites-lateral.jpg);
}

.descriptionCard--nuvem .descriptionCard__img {
  background-image: url(../assets/sistemas-em-nuvem-lateral.jpg);
}

.descriptionCard--ecommerce .descriptionCard__img {
  background-image: url(../assets/ecommerce-lateral.jpg);
}

.descriptionCard--seo .descriptionCard__img {
  background-image: url(../assets/seo-lateral.jpg);
}

.descriptionCard--intranet .descriptionCard__img {
  background-image: url(../assets/intranet-lateral.png);
}

.descriptionCard--googleads .descriptionCard__img {
  background-image: url(../assets/googleadwords-lateral.jpg);
}

.descriptionCard--apps .descriptionCard__img {
  background-image: url(../assets/criacao-apps-lateral.jpg);
}

.descriptionCard--mktconteudo .descriptionCard__img {
  background-image: url(../assets/marketing-conteudo-lateral.jpg);
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .descriptionCard {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .descriptionCard__texto {
    padding: 1rem 10px 10px 1rem;
    border-bottom-left-radius: 0;
  }
  .descriptionCard__img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 50px;
    border-radius: 0;
    border-bottom: 4px solid #07578d;
  }
}

.rodape {
  background-color: rgba(38, 173, 205, 0.6);
  background-size: cover;
  background-blend-mode: multiply;
}

.rodape__wrapper {
  padding-top: 4rem;
  padding-bottom: 4.5rem;
  color: #fff;
}

.rodape__wrapper h2 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem auto;
  text-transform: uppercase;
}

.rodape__wrapper h2 span {
  display: block;
  margin-bottom: .5rem;
}

.rodape__wrapper .btnPadrao--branco {
  color: #49b8d4;
  display: block;
  width: 350px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.rodape__wrapper .btnPadrao--branco:hover {
  background-image: none;
  -webkit-box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  color: #2da0bd;
}

.rodape__wrapper .btnPadrao--branco:active {
  background-image: none;
  background-color: #2da0bd;
  color: #fff;
}

.rodape--qmSomos {
  background-image: url("../assets/qmsomos-rodape.jpg");
  background-position-y: 68%;
}

.rodape--qmSomos .rodape__wrapper {
  background-color: rgba(38, 173, 205, 0.7);
}

.rodape--qmSomos .rodape__wrapper h2 {
  /*
                Tamanho específico com o intuito de
                quebrar linha, conforme apresentava 
                o design.
                */
  width: 470px;
}

.rodape--servicos {
  background-image: url("../assets/servicos-rodape.png");
  background-position: center;
}

.rodape--servicoIntegra {
  background-image: url(../assets/servico-integra-rodape.png);
}

.rodape--blog {
  background-image: url("../assets/blog-rodape.png");
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .rodape__wrapper {
    padding-top: 2rem;
  }
  .rodape--qmSomos h2 {
    max-width: 100%;
  }
}

.sobre {
  background-color: #f0f5f9;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-bottom: 5.5rem;
}

.sobre__vantagens {
  margin-top: 4rem;
  color: #024075;
  text-align: center;
}

.sobre__vantagens__pq, .sobre__vantagens h2 {
  text-transform: uppercase;
}

.sobre__vantagens__pq {
  font-size: .9rem;
  letter-spacing: 3px;
}

.sobre__vantagens h2 {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  position: relative;
  padding-top: 5px;
  padding-bottom: 1.5rem;
}

.sobre__vantagens h2::after {
  bottom: 0;
  left: 45%;
  content: '';
  width: 60px;
  height: 3px;
  position: absolute;
  background-color: #26adcd;
}

.sobre__vantagens__dados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .sobre {
    padding-top: 0;
    padding-bottom: 2.2rem;
  }
  .sobre__vantagens__dados {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobre__vantagens__dados .info {
    margin: 1rem auto;
  }
}

.servicos {
  margin: 0 auto;
  padding-top: 3rem;
  background-color: #f1f6fa;
  overflow-x: hidden;
}

.servicos__subtitulo, .servicos h2 {
  text-align: center;
}

.servicos__subtitulo {
  color: #024075;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.servicos h2 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #07578d;
  position: relative;
  padding-top: 5px;
  padding-bottom: 1.5rem;
}

.servicos h2::after {
  bottom: 0;
  left: 45%;
  content: '';
  width: 60px;
  height: 3px;
  position: absolute;
  background-color: #26adcd;
}

.servicos__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 1;
  padding-bottom: 3rem;
}

.servicos__wrapper::before {
  content: '';
  position: absolute;
  left: -19rem;
  top: 5rem;
  z-index: -1;
  display: inline-block;
  background-image: url("../assets/logo_500.png");
  opacity: 20%;
  background-size: cover;
  width: 300px;
  aspect-ratio: 1;
}

.servicos__wrapper::after {
  content: '';
  position: absolute;
  right: -23rem;
  bottom: 7rem;
  z-index: -1;
  display: inline-block;
  background-image: url("../assets/logo_500.png");
  opacity: 20%;
  background-size: cover;
  width: 350px;
  aspect-ratio: 1;
}

.servicos__card {
  margin-top: 1.5rem;
}

.servicoIntegra {
  background-color: #f0f5f9;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.servicoIntegra .descriptionCard::before {
  top: 0;
  left: -26rem;
  width: 450px;
}

.servicoIntegra .destaque {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.servicoIntegra .destaque .subtitulo, .servicoIntegra .destaque h2 {
  text-align: center;
}

.servicoIntegra .destaque .subtitulo {
  margin-bottom: 5px;
  color: #024075;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.servicoIntegra .destaque h2 {
  text-transform: uppercase;
  color: #07578d;
  position: relative;
  padding-bottom: 1rem;
}

.servicoIntegra .destaque h2::after {
  bottom: 0;
  left: 48%;
  content: '';
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: #26adcd;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .servicoIntegra {
    padding-top: 0;
  }
  .servicoIntegra .destaque h2::after {
    bottom: 0;
    left: 43%;
    content: '';
    width: 50px;
    height: 3px;
    position: absolute;
    background-color: #26adcd;
  }
}

.contato {
  background-color: #024277;
  background-image: url(../assets/bg-faleconosco.png);
  background-size: contain;
}

.contato__form {
  margin-left: 4rem;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 2.5rem 0;
  position: relative;
}

.contato__form .faleConosco {
  color: #fff;
  padding-left: 4rem;
  -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
}

.contato__form .faleConosco p {
  font-size: 1.125rem;
  line-height: 1.7rem;
}

.contato__form .faleConosco p span::after {
  content: ' ao lado';
}

.contato__form .faleConosco h2 {
  font-size: 2.5rem;
  max-width: 100px;
  position: relative;
  z-index: 1;
  padding-bottom: .8rem;
  margin: 1rem 0;
}

.contato__form .faleConosco h2::after {
  bottom: 0;
  left: 0;
  content: '';
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: currentColor;
}

.contato__form .faleConosco h2::before {
  content: '';
  position: absolute;
  width: 150px;
  aspect-ratio: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(#12418f), to(#0f8dcb));
  background-image: linear-gradient(to right, #12418f, #0f8dcb);
  z-index: -1;
  left: -3.9rem;
  border-radius: 10px;
  top: -1.5rem;
}

.contato__form form {
  padding: 60px;
  background-color: #fff;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 10px;
  width: 100%;
}

.contato__form form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1150px;
  margin-bottom: .7rem;
}

.contato__form form .form-row:last-of-type {
  margin-bottom: 0;
}

.contato__form form .form-row div {
  margin-left: 20px;
  width: 100%;
}

.contato__form form .form-row div label {
  display: block;
  margin-bottom: .5rem;
  color: #18303d;
  font-weight: 450;
  font-size: .9rem;
}

.contato__form form .form-row div input, .contato__form form .form-row div textarea {
  outline: 1px solid #e1e1e1;
  width: 100%;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 1rem;
  margin-bottom: .7rem;
  font-family: inherit;
  resize: none;
}

.contato__form form .form-row div input::-webkit-input-placeholder, .contato__form form .form-row div textarea::-webkit-input-placeholder {
  font-size: .9rem;
  display: inline-block;
  color: #c1c1c1;
  font-weight: 450;
}

.contato__form form .form-row div input:-ms-input-placeholder, .contato__form form .form-row div textarea:-ms-input-placeholder {
  font-size: .9rem;
  display: inline-block;
  color: #c1c1c1;
  font-weight: 450;
}

.contato__form form .form-row div input::-ms-input-placeholder, .contato__form form .form-row div textarea::-ms-input-placeholder {
  font-size: .9rem;
  display: inline-block;
  color: #c1c1c1;
  font-weight: 450;
}

.contato__form form .form-row div input::placeholder, .contato__form form .form-row div textarea::placeholder {
  font-size: .9rem;
  display: inline-block;
  color: #c1c1c1;
  font-weight: 450;
}

.contato__form form .form-row div input:focus, .contato__form form .form-row div textarea:focus {
  border: 0;
  outline: 1px solid #26adcd;
  -webkit-box-shadow: 0 0 12px rgba(38, 173, 205, 0.5);
          box-shadow: 0 0 12px rgba(38, 173, 205, 0.5);
}

.contato__form form .formBtn {
  background-color: #19303e;
  font-weight: bold;
  color: #fff;
  border: 0;
  padding: 1.5em 2.5em;
  font-size: .85rem;
  margin-top: 1.3rem;
  margin-left: 1.3rem;
  text-transform: uppercase;
  border-radius: 35px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer;
}

.contato__form form .formBtn:hover {
  background-color: #366887;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contato__form form .formBtn:active {
  background-color: #0a141a;
}

.contato__enviado {
  padding: 2.3rem 4rem;
  color: #fff;
  background-color: #024277;
  background-image: url(../assets/bg-faleconosco.png);
  background-size: cover;
  text-align: center;
}

.contato__enviado p {
  width: 100%;
}

.contato__enviado__ola {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contato__enviado__corpo {
  margin: 1.5rem auto;
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 1000px;
  letter-spacing: .125rem;
}

.contato__enviado__corpo span {
  display: block;
}

.contato__enviado__corpo strong {
  text-decoration: underline;
}

.contato__enviado .btnPadrao {
  color: #024277;
  background-image: none;
  background-color: #fff;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.contato__enviado .btnPadrao:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contato__vantagens {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #fff;
}

.contato__vantagens .subtitulo, .contato__vantagens h2 {
  text-align: center;
}

.contato__vantagens .subtitulo {
  margin-top: 2rem;
  margin-bottom: 5px;
  color: #024075;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.contato__vantagens h2 {
  text-transform: uppercase;
  color: #09588d;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.contato__vantagens h2::after {
  bottom: 0;
  left: 45%;
  content: '';
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: #26adcd;
}

.contato__vantagens__dados {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 2rem auto;
}

.contato__vantagens__dados .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contato__vantagens__dados .info__circle {
  width: 90px;
  outline-width: 1rem;
}

.contato__vantagens__dados .info__circle:hover {
  outline-width: 1.1rem;
}

.contato__vantagens__dados .info__circle img {
  width: 40px;
}

.contato__vantagens__dados .info__desc {
  font-size: 1.25rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 2rem;
}

.contato__vantagens__dados .info__desc span {
  font-weight: bold;
}

.contato__vantagens__dados .info__desc a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  font-weight: 450;
}

.contato__vantagens__dados .info__desc a:hover {
  color: #09588d;
  text-shadow: 2px 2px 3px #55a1d4;
}

.contato__localizacao {
  background-color: #fff;
}

.contato__localizacao h2 {
  text-transform: uppercase;
  text-align: center;
  color: #09588d;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.contato__localizacao h2::after {
  bottom: 0;
  left: 47%;
  content: '';
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: #26adcd;
}

.contato__localizacao__mapa {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}

.contato__localizacao__mapa .cardLocal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  position: absolute;
  -webkit-box-shadow: 7px 4px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 7px 4px 12px rgba(0, 0, 0, 0.2);
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.contato__localizacao__mapa .cardLocal:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.contato__localizacao__mapa .cardLocal:hover address {
  color: #286796;
}

.contato__localizacao__mapa .cardLocal h3 {
  position: relative;
  font-size: 1.25rem;
  color: #286796;
  text-transform: uppercase;
}

.contato__localizacao__mapa .cardLocal address {
  font-style: normal;
  font-size: .9rem;
  line-height: 1.25rem;
  color: #19303e;
}

.contato__localizacao__mapa .cardLocal address a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-right: 4rem;
}

.contato__localizacao__mapa .cardLocal address span {
  display: block;
}

.contato__localizacao__mapa iframe {
  max-width: 100%;
  margin-top: -8rem;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .contato__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  .contato__form .faleConosco {
    padding-left: 30px;
  }
  .contato__form .faleConosco p {
    margin-top: 2rem;
  }
  .contato__form .faleConosco p span::after {
    content: ' abaixo';
  }
  .contato__form form {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 10px;
  }
  .contato__form form .form-row {
    width: 100%;
    display: block;
  }
  .contato__vantagens__dados {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contato__vantagens__dados .info {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    text-align: center;
  }
  .contato__vantagens__dados .info__desc {
    margin: 1.5rem 0;
  }
  .contato__localizacao h2::after {
    bottom: 0;
    left: 45%;
    content: '';
    width: 50px;
    height: 3px;
    position: absolute;
    background-color: #26adcd;
  }
  .contato__localizacao__mapa {
    max-height: 280px;
  }
  .contato__localizacao__mapa .cardLocal {
    padding: 20px 0 20px 30px;
  }
  .contato__enviado__corpo {
    word-break: break-word;
  }
}

.info {
  margin: 0 auto;
}

.info__circle {
  outline: 1.2rem solid #e0f0f6;
  width: 100px;
  aspect-ratio: 1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#515ba4), to(#26accc));
  background-image: linear-gradient(to right, #515ba4, #26accc);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-transition: .7s;
  transition: .7s;
}

.info__circle--google {
  background-color: #fff;
  background-image: url("../assets/google-logo.png");
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
}

.info__circle--wpp {
  background-image: -webkit-gradient(linear, left top, right top, from(#1d862f), to(#26cc68));
  background-image: linear-gradient(to right, #1d862f, #26cc68);
}

.info__circle--tel {
  background-image: -webkit-gradient(linear, left top, right top, from(#1d5686), to(#2664cc));
  background-image: linear-gradient(to right, #1d5686, #2664cc);
}

.info__circle--email {
  background-image: -webkit-gradient(linear, left top, right top, from(#0681ea), to(#26b7cc));
  background-image: linear-gradient(to right, #0681ea, #26b7cc);
}

.info__circle:hover {
  outline: 1.3rem solid #bcdfec;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.info__desc {
  color: #19303e;
}

.info__desc span {
  display: block;
  font-weight: 500;
}

.info h3 {
  margin-top: 1.8rem;
  color: #19303e;
  width: 180px;
  text-align: center;
}

.info h3 span {
  display: block;
}

.blog {
  background-color: #f1f6fa;
  padding: 1.5rem 1rem;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.blog::before {
  content: '';
  position: absolute;
  left: -10rem;
  top: 0;
  z-index: -1;
  display: inline-block;
  background-image: url("../assets/logo_500.png");
  opacity: 20%;
  background-size: cover;
  width: 300px;
  aspect-ratio: 1;
}

.blog::after {
  content: '';
  position: absolute;
  right: -15rem;
  bottom: 0;
  z-index: -1;
  display: inline-block;
  background-image: url("../assets/logo_500.png");
  opacity: 20%;
  background-size: cover;
  width: 350px;
  aspect-ratio: 1;
}

.blog .subtitulo {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 5px;
  color: #024075;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.blog h2 {
  text-align: center;
  color: #09588d;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.blog h2::after {
  bottom: 0;
  left: 48%;
  content: '';
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: #26adcd;
}

.blog__wrapper {
  max-width: 1200px;
  margin: 1.2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.blogIntegra__container .roundedPost {
  max-width: 960px;
  margin: 0 auto;
}

.blogIntegra__container .roundedPost > img {
  min-width: 100%;
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blogIntegra__container .roundedPost__texto {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 1rem;
}

.blogIntegra__container .roundedPost__texto h2 {
  font-size: .875rem;
  position: static;
  padding-bottom: 0;
  color: #18303d;
  text-align: left;
  margin: 0 1.5rem;
}

.blogIntegra__container .roundedPost__texto h2::after {
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  background-color: #26adcd;
}

.blogIntegra__container .roundedPost__texto h3 {
  margin: 0 1.5rem;
  display: inline;
  font-size: .75rem;
}

.blogIntegra__container .roundedPost__texto p {
  font-size: .75rem;
  line-height: 1.4rem;
  margin: 1rem 1.5rem;
  color: #18303d;
}

.blogIntegra__container .roundedPost__texto p:first-of-type {
  margin-top: 0;
  padding-top: 1rem;
}

.blogIntegra__container .roundedPost__texto ul {
  font-size: .75rem;
  color: #18303d;
  margin-top: 0;
  margin-left: 1.5rem;
}

.blogIntegra__container .roundedPost__texto ul li {
  margin: .7rem 0;
}

.blogIntegra__container .roundedPost__texto__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  margin-left: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.blogIntegra__container .roundedPost__texto__share div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogIntegra__container .roundedPost__texto__share div img {
  width: 39px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.blogIntegra__container .roundedPost__texto__share div img:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.blogIntegra__outrosPosts {
  padding: 1rem 1.5rem;
  padding-bottom: 2.3rem;
}

.blogIntegra__outrosPosts .subtitulo, .blogIntegra__outrosPosts h2 {
  text-align: center;
}

.blogIntegra__outrosPosts .subtitulo {
  margin-bottom: 5px;
  color: #024075;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.blogIntegra__outrosPosts h2 {
  position: relative;
  padding-bottom: 1rem;
  text-transform: uppercase;
  color: #09588d;
}

.blogIntegra__outrosPosts h2::after {
  bottom: 0;
  left: 48%;
  content: '';
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: #26adcd;
}

.blogIntegra__outrosPosts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 1rem auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogIntegra__outrosPosts__wrapper .cardPost {
  max-width: 380px;
  -webkit-box-shadow: 12px 15px 15px rgba(44, 44, 44, 0.2);
          box-shadow: 12px 15px 15px rgba(44, 44, 44, 0.2);
}

.blogIntegra__outrosPosts__wrapper .cardPost em {
  font-size: .6rem;
}

.blogIntegra__outrosPosts__wrapper .cardPost h3 a {
  font-size: 1rem;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .blogIntegra__outrosPosts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogIntegra__outrosPosts__wrapper .cardPost {
    margin-top: 1rem;
    min-width: 90%;
    max-width: 90%;
  }
  .blogIntegra__outrosPosts__wrapper .cardPost img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */